# === SBT / Scala ===
/target/
/project/target/
/project/project/
/.cache/
/.history/
*.class
*.log


# === IntelliJ Idea ===
.idea/
*.iws
*.iml
*.ipr
out/

# === VS Code ===
.vscode/

# === MacOS ===
.DS_Store

# === Metals / Bloop (Scala tooling) ===
.metals/
.bloop/
.bsp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
